@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*------------------------------*/
/* Start ETIQUETAS PRINCIPALES */
/*                             */
html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 400; }

#section__servicios,
#section__proyectos,
#section__equipos {
  scroll-margin-top: 110px; }

.img__logo {
  height: 40px; }

.img__logo--footer {
  height: 25px; }

.img__logo--eurocert {
  width: 100px; }

.img-relacionados {
  width: 100%; }

.no-padding {
  padding: 0; }

.pos__adelante {
  z-index: 5; }

.video__youtube {
  width: 100%;
  height: 350px; }

.mapa__ubicacion {
  width: 100%;
  height: 250px; }

.color__moro__texto {
  color: #cf8827; }

.color__moro--bg {
  background-color: #cf8827; }

.color__moro--border {
  border-color: #cf8827; }

.color__moro--a:hover {
  color: #cf8827 !important; }

.color__moro--btnhover:hover {
  background-color: rgba(207, 134, 39, 0.75); }

.derechos_autor {
  background-color: rgba(0, 0, 0, 0.05); }

.line_clamp3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden; }

/*                             */
/* End ETIQUETAS PRINCIPALES */
/*------------------------------*/
/*-------------------*/
/* Start GRIDS       */
/*                   */
#grid__equipos__contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 5px; }

.grid__celda {
  width: 100%;
  height: 100%; }

/* ******************************** */
/* PAGINA DE CONTACTO */
/* ******************************** */
.sizing__box {
  box-sizing: border-box; }

.contenedor__contacto {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  row-gap: 10px;
  grid-template-areas: "foto__info" "titulo__form__contacto" "form__contacto" "boton_form"; }

.conenedor__texto__contacto {
  color: white; }

.area_foto__info {
  grid-area: foto__info;
  height: 800px;
  background-image: url("../img/contacto/bg-contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -180px top;
  flex-direction: column; }

.area__titulo__form__contacto {
  grid-area: titulo__form__contacto; }

.area__form__contacto {
  grid-area: form__contacto;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.1); }

.area__boton__form {
  grid-area: boton_form; }

.boton__formulario {
  height: 60px;
  width: 40%;
  border: 0;
  border-radius: 3px;
  /* background-color: var(--glb-brand-color01); */
  color: white;
  font-size: 20px;
  font-weight: 700;
  /* fallback for old browsers */
  background: #cf8827;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #cf8827, #fbb759);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #cf8827, #fbb759); }

.boton__formulario:hover {
  /* fallback for old browsers */
  background: #cf8827;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #fbb759, #cf8827);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #fbb759, #cf8827);
  box-shadow: -1px -1px 5px 1px #868686; }

.flex__centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }

.flex__centrado--form {
  flex-direction: column; }

.con__sombra {
  box-shadow: 1px 1px 5px 1px #868686; }

#txtMensaje {
  resize: none; }

/* ******************************** */
/* @ MEDIA QUERIES */
/* ******************************** */
/* Pantallas mini a sm */
@media screen and (max-width: 576px) {
  #section__servicios,
  #section__proyectos,
  #section__equipos {
    scroll-margin-top: 285px; }
  .mensaje__empresa--cuerpo {
    height: 600px; }
  .fram-servicios {
    height: 300px; } }

/* Pantallas sm a md */
@media screen and (min-width: 578px) {
  #section__servicios,
  #section__proyectos,
  #section__equipos {
    scroll-margin-top: 110px; }
  .mensaje__empresa--cuerpo {
    height: 600px; }
  .fram-servicios {
    height: 400px; } }

/* Pantallas xl */
@media screen and (min-width: 768px) {
  #grid__equipos__contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr); }
  .dbox {
    margin-bottom: 0;
    padding: 0; }
  .img__enlace:hover {
    transform: scale(1.01);
    /* transform: scale(1.01) rotate(-1deg); */ }
  .contenedor__contacto {
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% auto 10%;
    column-gap: 10px;
    grid-template-areas: "foto__info titulo__form__contacto" "foto__info form__contacto" "foto__info boton_form"; }
  .fram-servicios {
    height: 500px; } }

/* Pantallas xxl */
@media screen and (min-width: 992px) {
  #grid__equipos__contenedor {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px; } }

/* ******************************** */
/* PAGINA NOSOTROS */
/* ******************************** */
.tarjeta__nosotros {
  background-color: #e9ecef; }

.mensaje__empresa--titulo {
  height: 250px;
  background-color: #cf8827; }

.mensaje__empresa--cuerpo {
  height: 350px;
  padding: 30px 30px;
  background-color: #6c757d;
  color: white; }

.img__mensaje {
  width: 100%;
  height: 140px; }

.svg__nosotros {
  width: 120px;
  height: 120px;
  fill: white; }

.brevision {
  border: 1px solid red; }

.us__shape {
  background-image: url(../img/layout/bgnosotros.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  background-position: left bottom;
  position: relative; }

.img__shape, .img__shape--1, .img__shape--2 {
  position: absolute;
  width: 700px;
  height: 400px; }
  .img__shape--1 {
    top: 100px;
    left: 100px; }
  .img__shape--2 {
    top: 40%;
    left: 35%; }

.img__shape__img {
  width: 100%;
  height: 100%;
  border-radius: 5px; }

/*-------------------*/
/* Start ANIMATE SCSS*/
/*                   */
.js-scroll {
  opacity: 0;
  transition: opacity 500ms; }

.js-scroll.scrolled {
  opacity: 1; }

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both; }

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both; }

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both; }

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both; }

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (prefers-reduced-motion) {
  .js-scroll {
    opacity: 1; }
  .scrolled {
    animation: none !important; } }

/*                   */
/* End ANIMATE SCSS */
/*-------------------*/
.fram-servicios {
  border: 0;
  width: 100%; }

.serivcios__fotos {
  position: fixed;
  top: 20px;
  left: 50%; }
