@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --glb-brand-color01:#cf8827;
    --glb-brand-color01-opacity:rgba(207, 134, 39, 0.75);
    --glb-font-family:'Roboto', sans-serif;
    --glb-font-color-light:white;
    --glb-font-color-dark:black;
    --glb-font-color-footer:  rgba(0, 0, 0, 0.05);
    --glb-font-size:14px;
    --glb-scroll-vwp-xl: 110px;
    --glb-scroll-vwp-sm: 285px;
}

html{scroll-behavior: smooth;}

body{
    font-family: var(--glb-font-family);
    color:var(--glb-font-color-dark);
    font-size: var(--glb-font-size);
    font-weight: 400;
}

#section__servicios, #section__proyectos, #section__equipos{
    scroll-margin-top: var(--glb-scroll-vwp-xl);
}

#grid__equipos__contenedor{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-gap: 5px;
}

.grid__celda{
    width: 100%;
    height: 100%;
}

.img__logo{height: 40px;}
.img__logo--footer{height: 25px;}
.img__logo--eurocert{width:100px;}
.img-relacionados{width: 100%;}
.no-padding{padding: 0;}
.pos__adelante {z-index: 5;}

.video__youtube{
    width: 100%;
    height: 350px;
}

.mapa__ubicacion{
    width: 100%;
    height: 250px;
}

.color__moro__texto{color: var(--glb-brand-color01);}
.color__moro--bg{background-color: var(--glb-brand-color01);}
.color__moro--border{border-color: var(--glb-brand-color01);}
.color__moro--a:hover{color: var(--glb-brand-color01) !important;}
.color__moro--btnhover:hover{background-color: var(--glb-brand-color01-opacity);}
.derechos_autor{background-color:var(--glb-font-color-footer);}




/* ******************************** */
/* PAGINA DE CONTACTO */
/* ******************************** */

.sizing__box{
    box-sizing: border-box;
}

.contenedor__contacto{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto 10%;
    grid-template-areas:
    "foto__info titulo__form__contacto"
    "foto__info form__contacto"
    "foto__info boton_form";
}

.conenedor__texto__contacto{
    color: var(--glb-font-color-light);
}

.area_foto__info{
    grid-area:foto__info;
    height: 800px;
    background-image: url("../img/contacto/bg-contact.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -180px top;
    flex-direction: column;
}

.area__titulo__form__contacto{
    grid-area:titulo__form__contacto;
}

.area__form__contacto{
    grid-area:form__contacto;
    height: 600px;
}

.area__boton__form{
    grid-area:boton_form;
}

.boton__formulario{
    height: 60px;
    width: 40%;
    border: 0;
    border-radius: 3px;
    /* background-color: var(--glb-brand-color01); */
    color: var(--glb-font-color-light);
    font-size: 20px;
    font-weight: 700;

    /* fallback for old browsers */
    background: #cf8827;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #cf8827, #fbb759);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #cf8827, #fbb759);
}


.boton__formulario:hover{
    /* fallback for old browsers */
    background: #cf8827;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #fbb759, #cf8827);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #fbb759, #cf8827); 
}


.flex__centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flex__centrado--form{
    flex-direction: column;
}

.con__sombra{
    box-shadow:2px 2px 5px 1px rgb(134, 134, 134);
}













/* ******************************** */
/* @ MEDIA QUERIES */
/* ******************************** */


/* Pantallas xxl */
@media (max-width: 1200px) and (min-width: 992px) {
	#grid__equipos__contenedor {
        grid-template-columns:1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

/* Pantallas xl */
@media (max-width: 992px) and (min-width: 768px) {
	#grid__equipos__contenedor {
        grid-template-columns:1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .dbox {
        margin-bottom: 0;
        padding: 0;
    }
}


/* Pantallas sm a md */
@media screen and (max-width: 768px) {
    #section__servicios, #section__proyectos, #section__equipos{
        scroll-margin-top: var(--glb-scroll-vwp-sm);
    }
    
	#grid__equipos__contenedor {
        grid-template-columns:1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}