/* ******************************** */
/* PAGINA NOSOTROS */
/* ******************************** */


.mensaje__empresa--titulo{
    height: 280px;
    background-color: $glb-brand-color01;
}

.mensaje__empresa--cuerpo{
    height: 200px;
    padding: 5px 5px 0 5px;
}

.img__mensaje{
    width: 100%;
    height: 200px;
}

.svg__nosotros{
    width: 160px;
    height: 160px;
}