/*----------------------*/
/* Start VARIABLES SCSS*/
/*                     */

$glb-brand-color01:#cf8827;
$glb-brand-color01-opacity:rgba(207, 134, 39, 0.75);
$glb-brand-color-negro-opaco:rgba(0,0,0,0.1);
$glb-font-family:'Roboto', sans-serif;
$glb-font-color-light:white;
$glb-font-color-dark:black;
$glb-font-color-footer:rgba(0, 0, 0, 0.05);
$glb-font-size:14px;


$glb-scroll-vwp-xl: 110px;
$glb-scroll-vwp-sm: 285px;


/*                   */
/* End VARIABLES SCSS*/
/*----------------------*/

